

.download {

	&-content {
		text-align: center;
		margin: 134px 0 114px 0;

		@media (max-width: 1200px) {
			margin: 96px 0 78px 0;
		}

		@media (max-width: 768px) {
			margin: 66px 0 45px 0;
		}

		&_title h3 {
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 25px;

			@media (max-width: 1200px) {
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 22px;
			}

			@media (max-width: 768px) {
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 34px;
			}
		}

		&_text {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 50px;

			@media (max-width: 1200px) {
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 46px;
			}

			@media (max-width: 768px) {
				font-size: 13px;
				line-height: 15px;
				margin-bottom: 14px;
			}
		}

		&_link {
			width: 369px;
			margin: 0 auto;

			@media (max-width: 1200px) {
				max-width: 313px;
				padding: 31px 0;
			}

			@media (max-width: 768px) {
				max-width: 279px;
			}

			& a {
				display: block;
				padding: 28px 0;
				background: $bg-red;
				color: $white;
				font-style: normal;
				font-weight: 900;
				font-size: 24px;
				line-height: 28px;
				transition: 0.3s;

				&:hover {
					background: $bg-darkred;
				}

				&:active {
					background: $bg-red;
					box-shadow: 4px 4px 30px $bg-red;
				}

				@media (max-width: 1200px) {
					font-size: 18px;
					line-height: 21px;
				}
			}
		}
	}
}