// FONT COLOR
$white: #FFFFFF;
$lightred: #FF4343;
$red: #E71414;
$silver: #6C7279;
$copyright: #808080;
$black: #2D3033;


// FONT-SIZE

$f-s13: 1.3rem;
$f-s18: 1.8rem;
$f-s24: 2.4rem;
$f-s36: 3.6rem;
$f-s44: 4.4rem;


// BEFORE/AFTER COLOR
$ba-silver: #BABBC5;
$ba-red: #E71414;


// BACKGROUND COLOR
$bg-footer: #353C65;
$bg-copyright: #2C3154;
$bg-darkblue: #252B49;
$bg-red: #FF4343;
$bg-darkred: #E71414;
$bg-basil: #5C3249;
$bg-white: #FFFFFF;

// HOVER ON LINKS
@mixin link-hover ($tr, $fl) {
	transform: scale($tr);
	fill: $fl;
}