// FONT COLOR
$white: #FFFFFF;
$red: #E71414;
$silver: #6C7279;

// FONT-SIZE

$f-s13: 1.3rem;
$f-s18: 1.8rem;
$f-s24: 2.4rem;
$f-s36: 3.6rem;
$f-s44: 4.4rem;


// BEFORE/AFTER COLOR
$ba-silver: #BABBC5;
$ba-red: #E71414;


// BACKGROUND COLOR
$bg-darkblue: #252B49;
$bg-red: #FF4343;
$bg-darkred: #E71414;